@using System;
@using Sandbox;
@using Sandbox.UI;
@using ResourceFarmer.UI.Components;
@inherits PanelComponent
@namespace ResourceFarmer.UI.MainMenu

<div class="menu-section">
	<div class="menu-buttons">
		<BaseButton 
			Text="ðŸŽ® Play Game" 
			CssClass="menu-primary"
			OnClick="@(() => OnViewChanged?.Invoke(MainMenuPanel.MenuView.SinglePlayer))" />
			
		<BaseButton 
			Text="ðŸŒ Multiplayer" 
			CssClass="menu-primary"
			OnClick="@(() => OnViewChanged?.Invoke(MainMenuPanel.MenuView.Multiplayer))" />
			
		<BaseButton 
			Text="âš™ï¸ Settings" 
			CssClass="menu-secondary"
			OnClick="@(() => OnViewChanged?.Invoke(MainMenuPanel.MenuView.Settings))" />
			
		<BaseButton 
			Text="ðŸšª Exit Game" 
			CssClass="menu-danger"
			OnClick="@(() => OnAction?.Invoke("exit"))" />
	</div>
</div>

@code {
	[Property] public Action<MainMenuPanel.MenuView> OnViewChanged { get; set; }
	[Property] public Action<string> OnAction { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine("main_menu_section");
	}
}